<html xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="utf-8">
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Balloon Shop App</h1>
</header>
<main>
    <h2>Choose balloon color:</h2>
    <form method="POST" action="">
        <th:block th:each="balloon : ${balloons}">
            <input type="radio" name="color" th:value="${balloon.name}" th:text="${balloon.name} + ' ' + ${balloon.description}"><br/>
        </th:block>
        <br/>
        <button type="submit">Submit</button>
    </form>

</main>
</body>
</html>
